<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">联系电话: 0431-8923 1206</p>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-sina-weibo"></i></a></li>
                        <li><a href="#"><i class="icon-qq"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-1">
                    <div id="fh5co-logo"><a href="index.html">智库<span>.</span></a></div>
                </div>
                <div class="col-xs-11 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index.html">首页</a></li>
                        <li><a href="industry.html">行业知识</a></li>
                        <li><a href="professional.html">专业技术</a></li>
                        <li class="has-dropdown">
                            <a href="ebook.html">电子书</a>
                            <ul class="dropdown">
                                <li><a href="#">EXCEL VBA</a></li>
                            </ul>
                        </li>
                        <li><a href="training.html">对日培训</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                        <li class="btn-cta user not-login"><a href="#"><span>登录</span></a></li>
                        <li class="btn-cta user not-login"><a href="#"><span>注册</span></a></li>
                        <li class="btn-cta user login"><a href="#"><span>欢迎，<span class="username"></span></span></a></li>
                        <li class="btn-cta user login"><a href="#"><span>退出</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>